<!DOCTYPE html>
<html>
<head>
  <title>Dynamic Site</title>
  <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <% if (currentUser) { %>
        <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      <% } %>
    </nav>
  </header>
  <main>
    <%- body %>
  </main>
</body>
</html>
