<% layout('layout') %>
<h1>Register</h1>
<% if (error) { %><p style="color:red"><%= error %></p><% } %>
<form action="/register" method="POST">
  <input name="username" placeholder="Username" required>
  <input name="password" type="password" placeholder="Password" required>
  <button type="submit">Register</button>
</form>
